{% extends 'base.html.twig' %}
{% block title %}Agenda – Onglerie{% endblock %}

{% block body %}
<div class="container-fluid py-3">
  <h1 class="h4 mb-3">Agenda</h1>
  <div id="pos-agenda-root"></div>
</div>
{% endblock %}
