# Symfony cache & logs
/var/cache/
/var/log/

# Build output
/public/build/
/node_modules/
/vendor/

# Local configs
.env.local
.env.*.local

# IDE / editor stuff
/.idea/
/.vscode/
/*.swp

# OS files
.DS_Store
Thumbs.db
