{% extends 'base.html.twig' %}

{% block body %}
  <h2>Grafana Dashboards</h2>

  <div id="react-root"
       data-org-id="{{ grafana_org_id|default('1') }}"
       data-grafana-base="{{ grafana_base_url|default('https://repweb.ramseier.com:3001') }}">
  </div>

  <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
