<p>Hi,</p>
<p>To confirm your request to join the Repweb community, click the link below:</p>
<p><a href="{{ verifyUrl }}">{{ verifyUrl }}</a></p>
<p>If you didn’t request this, you can ignore this email.</p>
