{% extends 'base.html.twig' %}
{% block title %}CMDB Modeler{% endblock %}
{% block body %}
  <div id="cmdb-modeler-root"></div>
  {{ encore_entry_script_tags('cmdb-modeler') }}
  {{ encore_entry_link_tags('cmdb-modeler') }}
{% endblock %}
