{% extends 'base.html.twig' %}
{% block title %}Migration Manager{% endblock %}
{% block body %}
  <div class="container-fluid mt-3 px-3">
    <div id="migration-manager-root"></div>
    <script src="{{ asset('build/migration-manager.js') }}" defer></script>
  </div>
{% endblock %}
