{# templates/mail/templates.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
  <div class="container mt-4">
    <h1>Mail Templates</h1>
    <div id="react-mail-template-form"></div>
  </div>
{% endblock %}
